<div class="container pl_container">
  <div class="pl_left_container">
    <div class="pl_variable">
      <div>Les Variable</div>
      <label for="">Variable 1 : </label>
      <input type="text" placeholder="X" />
      <label for="">Variable 2 : </label>
      <input type="text" placeholder="Y" />
    </div>
    <div class="pl_contrainte">
      <div for="">Les Contraintes</div>
      <input type="text" placeholder="Contraintes" />
      <button>Ajouter un contrainte</button>
    </div>
    <div class="pl_func_economique">
      <div for="">Les économique</div>
      <select value="max">
        <option value="max">MAX</option>
        <option value="min">MIN</option>
      </select>
      <input type="text" placeholder="fonction économique" />
    </div>
    <div>
      <button>Résoudre</button>
    </div>
    <div class="pl_resultat">
      <span> Resultat :</span>
    </div>
  </div>
  <div class="pl_right_container"></div>
</div>
